name: Playwright Tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  playwright-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: 'package.json'

      - name: Get pnpm version from package.json
        id: pnpm-version
        run: echo "version=$(sh .github/get-pnpm-version.sh)" >> $GITHUB_OUTPUT

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ steps.pnpm-version.outputs.version }}

      - name: Install dependencies
        run: pnpm install
      
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "version=$(sh .github/get-playwright-version.sh)" >> $GITHUB_OUTPUT
      
      - name: Cache playwright binaries
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: '${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}'
          restore-keys: ${{ runner.os }}-playwright-
      
      - name: Install Playwright Browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: pnpm exec playwright install --with-deps

      - name: Install Playwright system dependencies
        if: steps.playwright-cache.outputs.cache-hit == 'true'
        run: pnpm exec playwright install-deps

      - name: Run Playwright tests
        run: TZ=Asia/Tokyo pnpm test:ui

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 1
