name: Test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: 'package.json'

      - name: Get pnpm version from package.json
        id: pnpm-version
        run: echo "version=$(sh .github/get-pnpm-version.sh)" >> $GITHUB_OUTPUT
  
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ steps.pnpm-version.outputs.version }}

      - name: Install dependencies
        run: pnpm install

      - name: Run lint check
        run: pnpm lint

      - name: Run format check
        run: pnpm format

      - name: Run tests
        run: pnpm test
